$primary: #424549;
$secondary: #36393e;
$dark:  #1e2124;
$blue: #7289da;


























/*----------------------------------------------------*/
/* Terminer par ça */
@import "../node_modules/bootstrap/scss/bootstrap";